
.hover-underline-menu {
  width: 100%;
}

.hover-underline-menu .menu {
  background-color: #f4bc42;
}

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: 1.2rem 1.5rem;
  font-family: 'Poiret One', cursive;

}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}


.hero-section {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/geometric-tunnel_wjd0nkzzh__F0000.png") 50% no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color:black;
}

.hero-section-text h1 {
  font-family: 'Poiret One', cursive;
}

.hero-section-text h5 {
  font-family: 'Poiret One', cursive;
}

.portfolio-resume-spacing {
  margin-bottom: 2rem;
}

.portfolio-resume-wrapper {
  padding: 2rem 4rem;
}

.portfolio-resume-headshot {
  margin-bottom: 2rem;
  border-radius: 50%;
  float:right;
}

.portfolio-resume-header {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
  font-weight: bold;
  margin-bottom: 1rem;
}

.portfolio-twitter a {
  font-family: 'Poiret One', cursive;
  color:black;
  text-decoration: none;
  padding-left:4rem;
  padding-bottom:4rem;
}
.footertext {
    font-family: 'Poiret One', cursive;
}
